.about__me {
  height: 100vh;
  border: 1px solid red;
}

.stack {
  height: 100vh;
  border: 1px solid blue;
}

.projects {
  height: 100vh;
  border: 1px solid violet;
}

.contact {
  height: 100vh;
  border: 1px solid green;
}
