// I M P O R T S
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;500;700;800;900&display=swap');

:root {
  --teal: #20c997;
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --body-color: #222529;
  --test: #2D3137;

  // Spacing
  --mt-1: 0.25rem;
  --mt-2: 0.5rem;
  --mt-3: 1rem;
  --mt-4: 1.5rem;
  --mt-5: 5rem;

  --me-1: 0.25rem;
  --me-2: 0.5rem;
  --me-3: 1rem;
  --me-4: 1.5rem;
  --me-5: 5rem;

  --mb-1: 0.25rem;
  --mb-2: 0.5rem;
  --mb-3: 1rem;
  --mb-4: 1.5rem;
  --mb-5: 5rem;

  --ms-1: 0.25rem;
  --ms-2: 0.5rem;
  --ms-3: 1rem;
  --ms-4: 1.5rem;
  --ms-5: 5rem;

  --pt-1: 0.25rem;
  --pt-2: 0.5rem;
  --pt-3: 1rem;
  --pt-4: 1.5rem;
  --pt-5: 5rem;

  --pr-1: 0.25rem;
  --pr-2: 0.5rem;
  --pr-3: 1rem;
  --pr-4: 1.5rem;
  --pr-5: 5rem;

  --pb-1: 0.25rem;
  --pb-2: 0.5rem;
  --pb-3: 1rem;
  --pb-4: 1.5rem;
  --pb-5: 5rem;

  --pl-1: 0.25rem;
  --pl-2: 0.5rem;
  --pl-3: 1rem;
  --pl-4: 1.5rem;
  --pl-5: 5rem;


  
  // LIGHTMODE COLORS
  // --bs-gray-100: #f8f9fa; // body
  // --bs-gray-900: #212529; // h2
  // --bs-gray-700: #495057; // h3
  // --bs-gray-500: #adb5bd; // p

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
}

html {
  // Verhindert das die Überschrift unter die sticky navbar fällt
  scroll-padding-top: 5rem;
  scrollbar-color: var(--teal) var(--gray-800);
}

body {
  height: 100%;
  width: 100%;
  color: var(--white);
}

.main__content {
  position: relative;
  top: 165px;
}

.light-theme {
  background-color: #f8f9fa !important;

  header {
    background-color: #f8f9fa !important;
  }
  
  h2 {
    color: var(--gray-900);
  }

  h3 {
    color: var(--gray-700);
  }

  h6 {
    color: var(--teal);
  }

  p {
    color: var(--gray-500);
  }

  a {
    color: var(--teal) !important;
    &.active {
      color: var(--gray-600) !important;
    }
  }

  &.sub__navigation {
    a {
      color: var(--gray-600) !important;
      &.active {
        color: var(--teal) !important;
        span {
          color: var(--gray-600) !important;
        }
      }
      &::after {
        background-color: var(--gray-600);
      }
    }
  }
}


.dark-theme {
  background-color: var(--body-color);

  header {
    background-color: var(--body-color);
  }

  h1{
    color: var(--white);
  }

  h2 {
    color: var(--gray-700);
  }

  h3 {
    color: var(--gray-700);
  }

  h6 {
    color: var(--teal);
  }

  p {
    color: var(--gray-500);
  }
}

// JUST FOR OPTICAL BORDERS

.about__me {
  height: 100vh;
  border: 1px solid red;
}

.stack {
  height: 100vh;
  border: 1px solid blue;
}

.projects {
  height: 100vh;
  border: 1px solid violet;
}

.contact {
  height: 100vh;
  border: 1px solid green;
}

// DELETE UPER PART LATER


