// I M P O R T S
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;500;700;800;900&display=swap');

:root {
  --bs-teal: #20c997;
  --bs-font-color: #fff;
  --bs-body-color: #222529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--bs-body-color);
  color: var(--bs-font-color);
}

.main__content {
  position: relative;
  top: 125px;
}



