.certificate-card {
  width: 200px;
  height: 300px;

  background: var(--gray-800);
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);

  padding: 16px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
}

.certificate-card__title {
  height: 32px; 
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.9rem;
  font-weight: 600;
  // font-size: 1.17em;
  // font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: var(--gray-100);
  

  margin-bottom: 12px; 
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.certificate-card__image-slot {
  width: 100%;
  // height: 200px; 
  aspect-ratio: 210 / 297;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden; 
}

.certificate-card__image-slot img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 10px;
}
