.contact {
  height: 100vh;
  // min-height: 100vh;
  z-index: 1;

  section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    &>* {
      margin: 3rem;
    }

    h1 {
      font-size: clamp(40px, 8vw, 80px);
      font-weight: 900;
      margin-bottom: -1rem;
      color: var(--teal);
      margin-top: 5rem;
    }

    p {
      text-align: center;
      line-height: 1.5rem;
      margin-bottom: 1rem;
    }
    .link__container {
      // border: 1px solid green;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .link__button__container {
        // border: 2px solid red;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0.5rem 0;

        a {
          text-decoration: none;
          color: var(--gray-500);
          font-weight: bold;
          font-size: 1.25rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 1rem;


          .socialmedia__icons {
            width: 1rem;
            height: 1rem;
            padding: 5px;
            margin-right: 5px;
            color: var(--gray-500);
            border: 1px solid var(--gray-500);
            border-radius: 50%;
          }

          &:active {
            color: var(--teal-light);
          }

          &:hover .socialmedia__icons {
            border: 1px solid var(--teal);
          }

          &:active .socialmedia__icons {
            color: var(--teal);
          }
        }

        .bd__icon {
          cursor: unset;

          &:active {
            color: var(--gray-500);
          }

          &:hover .socialmedia__icons {
            color: var(--gray-500);
            border: 1px solid var(--gray-500);
          }
        }
      }

      .modal__button__container {
        // border: 2px solid blue;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
      }
    }
  }

  @media (max-height: 950px) {
    min-height: 750px;
  }
  @media (max-width: 600px) {
    .link__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .link__button__container {
      flex-direction: column;
      gap: 1rem;
    }
  }
}