.thumbnail__label {
  display: flex;
  align-items: center;
  width: fit-content
}

.thumbnail__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.empty__post__thumbnail__preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  max-height: 300px;
  margin-bottom: 1rem;
  background-color: var(--gray-600);
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  span {
    color: var(--gray-300);
  }
}

.full__post__thumbnail__preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  margin-bottom: 1rem;
  background-color: var(--gray-600);
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  span {
    color: var(--gray-300);
  }
}

div.emoji-picker {
  position: absolute;
  top: 160px;
  left: 2rem;
  z-index: 1000;
  // background: white;
  // background: var(--body-color) !important;
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

// .emoji-picker,
// .emoji-picker * {
//   background: var(--body-color) !important;
// }