.description__container {
  display: flex;
  /* Flexbox für horizontales Layout */
  align-items: flex-end;
  /* Vertikal zentrieren */
  gap: 8px;
  /* Abstand zwischen Text und Button */
}

.description__container span {
  flex: 1;
}

.edit__btn {
  flex-shrink: 0; /* Verhindert, dass der Button skaliert wird */
  background-color: var(--teal-light);
  color: var(--teal);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
  z-index: 999;

  &:hover {
    background-color: var(--teal);
    color: var(--teal-light);
  }
}
