.footer{
  height: 100px;
  background-color: var(--footer-color);
  color: var(--white);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: color 0.3s ease;
  // border: 1px solid red;

  div {
    // border: 1px solid orange;
    width: 33%;
  }



  &:hover {
    p{
      color: var(--teal);
    }
  }

  p {
    margin: 5px 0;
  }

  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: var(--white);
    }
  }

  .right__placeholder {
    display: flex;
    justify-content: center;
    a {
      color: var(--footer-color);
    }
  }

  @media (max-width: 768px) {
    .right__placeholder,
    .left__placeholder {
      width: 10%
    }

    .credits__container {
      width: 80%;
    }
  }

}