.footer{
  height: 100px;
  background-color: var(--footer-color);
  color: var(--white);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: color 0.3s ease;
  // border: 1px solid red;

  .credits__container {
    // border: 1px solid orange;
    width: 33%;
  }



  &:hover {
    p{
      color: var(--teal);
    }
  }

  p {
    margin: 5px 0;
  }

  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: var(--white);
    }
  }

  .left__placeholder,
  .right__placeholder {
    width: 33%;
    display: flex;
    justify-content: space-around;

    a {
      margin: 0 0.5rem;
      color: var(--gray-500);
      text-decoration: none;
      transition: color 0.3s ease;
    }
  }

    @media (max-width: 768px) {
      flex-direction: column; // Elemente untereinander anordnen
      height: auto; // Höhe anpassen, falls mehr Platz gebraucht wird
      padding: 1rem 0; // Abstand nach oben/unten
  
      .left__placeholder,
      .right__placeholder,
      .credits__container {
        width: 100%; // Volle Breite nutzen
        text-align: center; // Inhalt zentrieren
        margin-bottom: 0.5rem;
      }
  
      .left__placeholder,
      .right__placeholder {
        justify-content: center; // Links/Rechts-Elemente mittig ausrichten
      }
    }

}