// I M P O R T S


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 125px;
  width: 100%;
  background-color: var(--bs-body-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  // LOGO
  .header__logo {
    flex: 1;

    img {
      width: 200px;
      height: 100px;
    }
    @media (max-width: 767px) {
      flex: 2;
    }
  }

  // MAIN NAVIGATION
  .main__navigation {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    nav{
      width: 80%;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 950px;
        padding: 0;
        margin: 0;
        list-style-type: none;
  
        li {
          margin: 0 10px;
        }
      }
    }

    a {
      text-decoration: none;
      color: var(--bs-teal);
      display: block;
      padding: 5px 0;
      font-size: 1.5rem;
      position: relative;

      &:hover {
        color: var(--bs-font-color);
      }

      &.active {
        color: var(--bs-font-color);
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -0.5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--bs-teal);
        transition: width 0.3s ease;
      }
    }    
    @media (max-width: 767px) {
      display: none;
    }
  }

  // THEME BUTTON MAIN NAVIGATION
  
  .theme__button__outer__container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .theme__button__inner__container{
      position: relative;
      display: inline-block;
      width: 48px;
      height: 28px;

      // Former Values
      // width: 60px;
      // height: 34px;
  
      input[type='checkbox'] {
        display: none;
      }

      input[type='checkbox']:checked+.toggle {
        background-color: var(--bs-teal);

        &:before {
          transform: translateX(20px);

          // Former Values
          // transform: translateX(26px);
        }
      }
    
      .toggle {
        position: relative;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 48px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ccc;
        border-radius: 34px;
        transition: background-color 0.3s, box-shadow 0.3s;
        
        &:before {
          position: absolute;
          content: '';
          height: 20px;
          width: 20px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          border-radius: 50%;
          transition: transform 0.3s;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.75);
          // Former Values
          // height: 26px;
          // width: 26px;
        }

        span {
          display: inline-block;
        }

        .sun,
        .moon {
          position: absolute;
          top: 55%;
          transform: translateY(-50%);
          width: 18px;
          height: 18px;
          font-size: 1.1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background-repeat: no-repeat;
          background-position: center;
          transition: opacity 0.3s;
          color: var(--bs-font-color);
          z-index: 1;
        }

        .sun {
          left: 4px;
        }

        .moon {
          right: 4px;
        }
      }
    }

    @media (max-width: 767px) {
      display: none;
    }
  }
  
  // HAMBURGER MENU
  .hamburger__menu {
    display: none;

    @media (max-width: 767px) {
      display: flex;
      justify-content: end;
      flex: 1;
      position: relative;

      .hamburger__icon {
        margin-right: 3rem;
        position: relative;
        color: var(--bs-teal);

        &:hover {
          color: var(--bs-font-color);
        }
      
        &.active {
          color: var(--bs-font-color);
      
          &::after {
            width: 100%;
          }
        }
      
        &::after {
          content: '';
          position: absolute;
          bottom: -0.5px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: var(--bs-teal);
          transition: width 0.3s ease;
        }

        .material-symbols-outlined {
          font-size: 2rem;
        }
      }
    }

    // MOBILE NAVIGATION STYLES
    .main_navigation_sm {
      opacity: 1;
      width: 100%;
      min-width: 235px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      border-radius: 10px;
      padding: 20px;
      position: absolute; 
      top: -2rem;
      right: 1rem;
      margin: auto;
      z-index: 1001;
      transform: translateX(110%);
      transition: 
      transform 1.5s ease;

      &.show__mobile__navigation {
        transform: translateX(0);
      }
      
      nav ul {
        margin-left: 20px;
        // border: 1px solid violet;
      }

      nav ul li {
        margin-bottom: 10px;
        list-style-type: none;
      }

      a {
        text-decoration: none;
        color: var(--bs-teal);
        display: inline-block;
        padding: 5px 0;
        font-size: 1.5rem;
        position: relative;
      
        &:hover {
          color: var(--bs-font-color);
        }
      
        &.active {
          color: var(--bs-font-color);
      
          &::after {
            width: 100%;
          }
        }

        &::after {
          content: '';
          position: absolute;
          bottom: -0.5px;
          left: 0;
          width: auto;
          height: 2px;
          background-color: var(--bs-teal);
          transition: width 0.3s ease;
        }
      }      

      // THEME BUTTON MOBILE NAVIGATION
      .theme__button__outer__container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .theme__button__inner__container {
          position: relative;
          display: inline-block;
          width: 48px;
          height: 28px;
          background-color: #ccc;
          border-radius: 34px;
          transition: background-color 0.3s, box-shadow 0.3s;

          input[type='checkbox'] {
            display: none;
          }

          input[type='checkbox']:checked+.toggle {
            background-color: var(--bs-teal);

            &:before {
              transform: translateX(20px);
            }
          }

          .toggle {
            position: relative;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 48px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ccc;
            border-radius: 34px;
            transition: background-color 0.3s, box-shadow 0.3s;

            &:before {
              position: absolute;
              content: '';
              height: 20px;
              width: 20px;
              left: 4px;
              bottom: 4px;
              background-color: white;
              border-radius: 50%;
              transition: transform 0.3s;
              box-shadow: 0 5px 15px rgba(0, 0, 0, 0.75);

            }

            span {
              display: inline-block;
            }

            .sun,
            .moon {
              position: absolute;
              top: 55%;
              transform: translateY(-50%);
              width: 18px;
              height: 18px;
              font-size: 1.1rem;
              display: flex;
              justify-content: center;
              align-items: center;
              background-repeat: no-repeat;
              background-position: center;
              transition: opacity 0.3s;
              color: var(--bs-font-color);
              z-index: 1;
            }

            .sun {
              left: 4px;
            }

            .moon {
              right: 4px;
            }
          }
        }

        @media (max-width: 767px) {
          border: 1px solid red;
          display: flex;
          justify-content: start;
          margin-left: 20px;

        }
      }
    }

    .sub_navigation_sm {
      a {
        text-decoration: none;
        color: var(--bs-font-color);
        display: inline-block;
        padding: 2.5px 0;
        font-size: 1.5rem;
        position: relative;
    
        &:hover {
          color: var(--bs-teal);
        }
    
        &.active {
          color: var(--bs-teal);
    
          &::after {
            width: 100%;
          }
    
          span {
            color: var(--bs-font-color)
          }
        }
    
        &::after {
          content: '';
          position: absolute;
          bottom: -0.5px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: var(--bs-font-color);
          transition: width 0.3s ease;
        }
    
        span {
          color: var(--bs-teal)
        }
      }
    }

    
  }  
}

// SUB NAVIGATION
.sub__navigation {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 36px;
  background-color: #4b4e51;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 999;
  display: flex;
  justify-content: center;
  transition: top 0.3s ease;

  nav {
    width: 80%;
    display: flex;
    justify-content: center;

    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 950px;
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        margin: 0 10px;
      }
    }
  }

  a {
    text-decoration: none;
    color: var(--bs-font-color);
    display: block;
    padding: 2.5px 0;
    font-size: 1.5rem;
    position: relative;

    &:hover {
      color: var(--bs-teal);
    }

    &.active {
      color: var(--bs-teal);

      &::after {
        width: 100%;
      }

      span {
        color: var(--bs-font-color)
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -0.5px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--bs-font-color);
      transition: width 0.3s ease;
    }

    span {
      color: var(--bs-teal)
    }
  }

  @media (max-width: 767px) {
    display: none;
  }
}


.show__sub__navigation {
  top: 125px !important;
}

