.projects {
  height: auto;
  min-height: 100vh;
  z-index: 1;
  
  section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-x: hidden;
    // border: 1px solid orange;

    .edit__container {
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 2px solid red;

      .edit__description {
        margin-bottom: 0;
      }
    }

    &>* {
      margin: 3rem;
    }

    h1 {
      font-size: clamp(40px, 8vw, 80px);
      font-weight: 900;
      margin-bottom: -1rem;
      color: var(--teal);
      margin-top: 5rem;
    }
    
    p {
      text-align: center;
      line-height: 1.5rem;
      margin-bottom: 1rem;
    }

    .project-cards-container {
      max-width: 1500px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      // border: 2px solid red;
    }
  }

  @media (max-height: 950px) {
    min-height: 750px;
  }

 
}